<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a href="/dashboard">
          <i class="flaticon-layout"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fas fa-chalkboard-teacher"></i>
          <span class="nav-text">Teachers</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/teachers"><i class="fas fa-user-plus"></i> Enroll Teachers</a></li>
          <li><a href="/class-report"><i class="far fa-file-alt"></i> Class Report</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user-alt"></i>
          <span class="nav-text">Students</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/students"><i class="fas fa-user-plus"></i> Enroll Students</a></li>
          <li><a href="/student-reports"><i class="fas fa-address-book"></i>Student Reports</a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="/calender">
          <i class="fas fa-calendar-alt"></i>
          <span class="nav-text">Calendar</span>
        </a>
      </li>
      <li>
        <a href="/subjects">
          <i class="fas fa-book"></i>
          <span class="nav-text">Courses/Subjects</span>
        </a>
      </li>
      <li>
        <a href="/reports">
          <i class="fas fa-bullhorn"></i>
          <span class="nav-text">Reports</span>
        </a>
      </li> -->
      <li>
        <a href="#">
          <i class="fas fa-money-check-alt"></i>
          <span class="nav-text">Notices</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/payment-gate"><i class="fas fa-money-check"></i> Payment</a></li>
          <li><a href="/bills"><i class="fas fa-file-invoice-dollar"></i> Invoice</a></li>
          <li><a href="/statistics"><i class="fas fa-file-alt"></i> Financial Records</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
